@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url(https://fonts.gstatic.com/s/neucha/v9/q5uGsou0JOdh94bfvQltKRZUgQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Open Sans";
}

*:focus {
  border: 2px solid #ACB6E5;
  outline: none;
}

.hide {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #74ebd5;  /* fallback for old browsers */
  background: linear-gradient(to top, #74ebd555, #74ebd5cc);
  color: #404040;
  text-align: center;
}

header > * {
  margin: 10px;
}

header h1 {
  font-family: "Neucha", "Open Sans";
  font-size: 3.5em;
  letter-spacing: 0.03em;
  text-shadow: 2px 2px 3px #efefef;
}

p.total, p.income, p.expenses {
  display: flex;
  width: 300px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  padding: 0 10px;
  line-height: 30px;
  text-align: left;
}

p.total {
  /* flex-direction: column; */
  /* justify-content: ; */
  height: 70px;
  padding: 20px 10px;
  background-color: #fff;
  font-size: 2em;
  line-height: 1.2;
  /* text-align: center; */
}

span.currentMonth, span.currentTotal {
  font-size: 1em;
}

p.income {
  border: 1px solid #A4A8D1;
  background-color: #A4A8D1dd;
}

p.expenses {
  border: 1px solid #ED6A5A;
  background-color: #ED6A5Add;
}

span.currentIncome, span.currentExpenses {
  width: 50px;
  margin-left: auto;
}

section.inputItem>* {
  margin: 0 2.5px;
}

section>.addValue {
  width: 75px;
}

button {
  width: 50px;
  height: 30px;
  border: 3px solid #A4A8D1;
  border-radius: 5px;
  background: #fff;
  color: #A4A8D1;
}

button:hover, button:focus {
  border: 3px solid #fff;
  background: #A4A8D1;
  color: #fff;
}

main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}

ul {
  width: 300px;
  margin: 15px;
}

li {
  list-style: none;
}

li.heading {
  padding: 5px;
  text-align: center;
  letter-spacing: 0.1em;
}

li.heading.income {
  border-bottom: 2px solid #ACB6E5;
}

li.heading.expense {
  border-bottom: 2px solid #ED6A5A;
}

li {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

li.income:nth-child(even) {
  background: #ACB6E533;
}

li.expense:nth-child(even) {
  background: #ED6A5A22;
}

span.value {
  margin-left: auto;
}
