@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url(https://fonts.gstatic.com/s/neucha/v9/q5uGsou0JOdh94bfvQltKRZUgQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Open Sans";
}

*:focus {
  border: 2px solid #ACB6E5;
  outline: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-image: url("gplay.png");
  background-repeat: repeat;
  color: #404040;
  text-align: center;
}

header h1 {
  font-family: "Neucha", "Open Sans";
  font-size: 3.5em;
  letter-spacing: 0.03em;
  text-shadow: 2px 2px 3px #efefef;
}

section.current {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

p.total, p.income, p.expenses {
  width: 300px;
  min-height: 30px;
  margin: 10px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1.25em;
  line-height: 30px;
  text-align: left;
}

p.total {
  width: 100%;
  margin: 20px;
  font-size: 2em;
  text-align: center;
}

span.currentMonth, span.currentTotal {
  font-size: 1em;
  padding: 0 5px;
}

div.totalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

p.income, p.expenses {
  display: flex;
}

p.income {
  border: 1px solid #A4A8D1;
  background: #A4A8D199;
}

p.expenses {
  border: 1px solid #ED6A5A;
  background: #ED6A5A99;
}

span.currentIncome, span.currentExpenses {
  min-width: 50px;
  margin-left: auto;
}

section.inputItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50px;
  border-top: 1px solid #74ebd5;
  border-bottom: 1px solid #74ebd5;
  background: #74ebd555;
}

section.inputItem>* {
  margin: 5px 2.5px;
}

section input {
  border: 2px solid #efefef;
  border-radius: 5px;
  padding: 0 5px;
}

section>.addValue {
  width: 75px;
}

section.inputItem>button {
  width: 50px;
  height: 30px;
  border: 3px solid #A4A8D1;
  border-radius: 5px;
  background: #fff;
  color: #A4A8D1;
}

section.inputItem>button:hover, section.inputItem>button:focus {
  border: 3px solid #fff;
  background: #A4A8D1;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul {
  width: 300px;
  margin: 15px;
}

li {
  list-style: none;
}

li.heading {
  padding: 5px;
  text-align: center;
  letter-spacing: 0.1em;
}

li.heading.income {
  border-bottom: 2px solid #ACB6E5;
}

li.heading.expense {
  border-bottom: 2px solid #ED6A5A;
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

li.income:nth-child(2n+3) {
  background: #ACB6E522;
}

li.expense:nth-child(2n+3) {
  background: #ED6A5A22;
}

span.value {
  margin-left: auto;
}

.item .delete {
  width: 0px;
  overflow: hidden;
  margin-left: 10px;
  border-radius: 35px;
  font-family: "Neucha";
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  transition: 0.25s
}

.item.income .delete {
  border: 2px solid #ACB6E5;
  color: #ACB6E5;
}

.item.income .delete:hover, .item.income .delete:focus {
  border: 2px solid #efefef;
  background: #ACB6E5;
  color: #fff;
}

.item.expense .delete {
  border: 2px solid #ED6A5A;
  color: #ED6A5A;
}

.item.expense .delete:hover, .item.expense .delete:focus {
  border: 2px solid #efefef;
  background: #ED6A5A;
  color: #fff;
}

li.item:nth-child(2n+2) .delete {
  background: #efefefbb;
}

li.item:nth-child(2n+3) .delete {
  background: #fff;
}

.item:hover .delete {
  width: 40px;
}
